* {
    margin:0;
    padding:0;
    font-family: '楷体';
    font-size: 1.1rem;
    font-weight: 900;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    user-select:none; 
  }
.content{
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    background-color: rgb(250,250,250);
    left: 100%;
    top: 0;
}
.landscape{
    position: absolute;
    overflow: hidden;
}
.first-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.first {
    width: 80%;
    height: 100%;
    text-align: center;
    background: url('../image/1.替换.png') no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  .first-content{
    display: table;
    margin-top: 18%;
  }
  .t1, .t2, .t3{
    float: left;
    display: block;
    font-size: 4.5rem;
    font-weight: bold;
    margin-right: 1.3rem;
    opacity: 0;
  }
.opacity{
    opacity: 1;
    transition: opacity .5s linear
}
/* desc */
.desc-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.desc {
  width: 70%;
  height: 100%;
  text-align: center;
  background: #000;
  display: table
}
.desc-content-wrapper{
  width: 100%;
  color: #ffff;
  display: table-cell;
  vertical-align: middle;
}
.desc-wrapper-p1, .desc-wrapper-p2{
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: .2rem;
  opacity: 0;
}
/* second */
  .second-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .second {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/3出生.png') no-repeat left center;
    background-size: cover;
    display: table
  }
  /* third */
  .third-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .third {
    width: 80%;
    height: 100%;
    text-align: center;
    background: url('../image/4背景.png') no-repeat center center;
    background-size: cover;
    position: relative;
  }
  .third-pic1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -10rem;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .third-pic2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .third-pic5{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .third-desc{
    position: absolute;
    z-index: 10;
    font-family: '楷体';
    font-size: 1.5rem;
    font-weight: 900;
    color: #000;
    text-align: center;
    line-height: 1.4rem;
    letter-spacing: .2rem;
    margin-top: 1%;
    /* background: rgba(0,0,0,.7); */
    padding: .2rem .4rem;
    border-radius: .2rem;
  }
/* fivth */
.fivth-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .fivth {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/5背景.png') no-repeat bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .fivth-pic1{
      width: 37.2%;
      height: 73%;
      position: absolute;
      left: 60px;
      bottom: 10px
  }
  .fivth-pic2{
      width: 100%;
      height: 100%;
  }
  .fivth-desc{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.7rem;
    line-height: 1.5rem;
    border: .01rem solid black;
  }
  .fivth-p2{
    text-align: right;
  }
  /* sixth */
  .sixth-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .sixth {
    width: 80%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .sixth-videos{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .sixth-desc{
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 5%;
    z-index: 10000;
    color: #fff!important;
    text-align: center;
    line-height: 1.6rem;
    padding: 0 1.5rem;
  }
  .sixth-p1{
    text-align: left;
  }
  .sixth-p2{
    text-align: right;
  }
  /* seven */
  .seven-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .seven {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/8背景.png') no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .seven-pic{
      width: 30%;
      height: 70%;
      position: absolute;
      bottom: 0
  }
  .seven-desc{
    position: absolute;
    right: 20%;
    bottom: 5%;
    text-align: center;
    line-height: 1.5rem;
    color: #fff;
    border: .01rem solid yellow;
  }
  /* eight */
  .eight-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .eight {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/9完整.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .eight-desc{
    position: absolute;
    bottom: 1rem;
    color: #fff;
  }
  /* nine */
  .nine-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .nine {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/11大殿.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .nine-pic{
    width: 100%;
    height: 85%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .nine-desc{
    font-size: 1.2rem !important;
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 1rem;
    color: #fff;
    text-align: center;
    border: .1rem solid yellow;
  }
  /* nine */
  .contentnine-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .contentnine {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/11.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  /* ten */
  .ten-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .ten {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/12背景.png') no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    border: .01rem solid yellow;
  }
  .ten-pic1, .ten-pic2, .ten-pic3{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .ten-desc{
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 1rem;
    font-size: 1.1rem;
    text-align: center;
  }
  .ten-p1{
    text-align: left;
    text-indent: 1rem;
  }
  .ten-p2{
    text-align: right;
  }
  /* eleven */
  .eleven-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .eleven {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/13.png') no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .eleven-pic1, .eleven-pic2{
    width: 100%;
    height: 100%
  }
  .eleven-desc{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    line-height: 1.4rem;
    text-align: center;
    width: 100%;
    color: #fff;
  }
  /* twelve */
  .twelve-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .twelve {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/14大帐背景.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .twelve-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .twelve-pic1{
    width: 100%;
    border: 1px solid black;
  }
  .twelve-pic2{
    width: 100%;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
  }
  .twelve-desc{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    bottom: 1rem;
  }
  .twelve-p1 span{
    box-sizing: border-box;
    border-radius: .3rem;
    background: rgba(0,0,0,.7)
  }
  /* thirteen */
  .thirteen-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .thirteen {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/13.png') no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  /* fourteen */
  .fourteen-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .fourteen {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/15背景.png') no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .fourteen-pic1, .fourteen-pic2, .fourteen-pic3, .fourteen-pic4, .fourteen-pic5, .fourteen-pic6, .fourteen-pic7, .fourteen-pic8{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .forteen-desc{
    position: absolute;
    bottom: 1rem;
    text-align: center;
    line-height: 1.4rem;
  }
   /* fiveteen */
   .fiveteen-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .fiveteen {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/16背景大帐.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .fiveteen-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .fiveteen-pic1{
    width: 100%;
  }
  .fivteen-desc{
    position: absolute;
    bottom: 1rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: .2rem .4rem;
    border-radius: .3rem;
    line-height: 1.6rem;
    border: .01rem solid black;
  }
  /* sixteen */
  .sixteen-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .sixteen {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/18背景.PNG') no-repeat bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .sixteen-pic1{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1
  }
  .sixteen-pic2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2
  }
  .sixteen-desc{
    border:.01rem solid black;
    color: #fff;
    position: absolute;
    bottom: 1rem;
    z-index: 10;
    background: rgba(0,0,0,.7);
    padding: .2rem .5rem;
    box-sizing: border-box;
    border-radius: .3rem;
  }
  /* seventeen */
  .seventeen-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .seventeen {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .seventeen-pic{
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .seventeen-pic-active{
    opacity: 1;
    transition: opacity 2s ease-in;
  }
  /* eightteen */
  .eightteen-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .eightteen {
    width: 70%;
    height: 100%;
    text-align: center;
    background: url('../image/21背景.jpg') no-repeat bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .eightteen-pic1, .eightteen-pic2, .eightteen-pic3, .eightteen-pic4{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2
  }
  .eightteen-desc{
    position: absolute;
    bottom: 1rem;
    z-index: 10;
    color: #fff;
    background: rgba(0,0,0,.7);
    padding: .2rem .7rem;
    border-radius: .2rem;
    line-height: 1.4rem;
    border: .01rem solid black;
  }